<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>instagram</title>
    <style>
        img{
            width:300px;
            height:300px;
            margin-bottom:20px;

        }
         p{
            font-size:20px;
            margin-bottom:40px;
            
        }
    </style>
  </head>
  <body>
    <h1>this page is belongs to @<%= userData.name %></h1>
    <button>Follow</button>
    <button>Message</button>

    <p>
      Followers: <%= userData.followers %> &nbsp; &nbsp; &nbsp; &nbsp;Following:
      <%= userData.following %>
    </p>
    <hr />
    <% for ( let post of userData.posts){ %>
    <img src="<%= post.image %>" alt="some image" />
    <p>Likes :<%= post.likes %>&nbsp; &nbsp; &nbsp; &nbsp;
         comments :<%= post.comments %></p>

    <% } %>
  </body>
</html>
